<%= render partial: "index" %>

<%= render partial: "super_admin_index" if @current_user.super_admin? %>

<%= render partial: "pattana/dashboard/index" %>

<div style="border-top:1px solid #FFF;margin-top:50px;margin-bottom:70px;"></div>

<div class="dx-warning mt-60">
	<div>
		<h2>Usman - API Documentation</h2>
		<p>All APIs are documented with all cases and examples.</p>
		<a class="btn btn-success" href="/docs/api/v1/register" target="_blank">Go to the API Documentation</a>
	</div>
</div>