<%
	super_admin_items = {
		features: {
			text: "Features",
			icon_class: "fa-diamond",
			url: usman.features_url,
			has_permission: @current_user.has_read_permission?(Feature)
		}
	}
%>

<% if (super_admin_items.map{|x, y| y[:has_permission] }).compact.uniq.any? %>

<h3 class="text-gray mt-50 mb-10">
	Configurations <br>
	<small class="text-muted">Configure Features & Other Settings </small>
</h3>
<hr class="mb-30" style="border-top:1px solid #ddd;">

<%= render partial: "/layouts/dashboard/materialize/items", locals: { items: super_admin_items } %>

<% end %>