<div class="row">
	<div class="col-md-4">
		<%= link_to raw("<i class='fa fa-plus mr-10'></i><span class='btn-text'> New User</span>"), new_admin_user_path, :class=>"btn btn-primary pull-left mb-5", :remote=>true %>
	</div>
	<div class="col-md-8">
		<%= search_form_kuppayam(User, admin_users_path, text: @filters[:query]) %>
	</div>
</div>



